<ion-view view-title="Overview">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="post in vm.posts" href="#/app/overview/{{post.id}}">
        {{post.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
